<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for specifying character set and viewport -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Base URL for resolving relative URLs -->
    <base href="/" />

    <!-- CSS files for styling -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SimpleBookCatalog.styles.css" />

    <!-- Favicon for the website -->
    <link rel="icon" type="image/png" href="favicon.png" />

    <!-- Placeholder for additional meta tags, styles, or scripts provided by the application -->
    <HeadOutlet />
</head>

<body>
    <!-- Placeholder for rendering Blazor pages/routes -->
    <Routes />

    <!-- Script for loading Blazor WebAssembly -->
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
